
<div class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand brand" href="/">GoShaheen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseContent">
        <form action="/search" method="POST" class="d-flex mx-auto">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-input" name="searchInput">
            <button class="btn btn-secondary search-btn" type="submit">Search</button>
          </form>
          <a class="btn btn-secondary mt-0 mt-sm-2" href="/">View other offers</a>
      </div>
     
      </div>
</div>