<% layout('/layouts/boilerplate') -%>
<div class="container d-flex-column justify-content-center align-items-ccenter">
    <div class="row">
        <div class="col-4 offset-6">
            <div class="spinner-border text-secondary m-auto" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>  
        </div>
        <div class="col-8 offset-5 m-5">
            <a class="btn btn-secondary" href="/my">Go to Malaysia Site</a>
        </div>
        <div class="col-8 offset-5 m-5">
            <a class="btn btn-secondary" href="/sa">Go to Saudia Arabia Site</a>
        </div>
        <div class="col-8 offset-5 m-5">
            <a class="btn btn-secondary" href="/us">Go to United States Site</a>
        </div>
    </div>
</div>
