/*******************************************************/
/******** Navbar****************************************/
.navbar{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.brand{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2rem;
    font-weight:700;
}
.navbar-toggler-icon:focus{
    border: none;
}
#search-input{
    width:25rem;
}
@media only screen and (max-width: 700px){
    #search-input{
        width: 18rem;
    }
}
.search-btn{
    width:6rem;
}

#random-offers{
    color: white;
    font-size:1.2rem;
}
#random-offers:hover{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#blog-btn{
    color: white;
    font-size:1.2rem;
}
#blog-btn:hover{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*******************************************************/
/******** footer****************************************/
.footer{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color:white
}
 
/**************************************************/
/***************body *********************************/

.card{
    font-size:1rem;
}
.product-rating span{
    font-size:10px;
}
.product-reviews{
    font-size:15px;
}

.product-price{
    font-size:1.4rem;
    color: #56ab2f;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-weight:700
}



/************************************************/
/*************** article  *************************/
.card-title{
    font-weight:700;
    color: brown;
}
#post-affilliate-link{
    position: fixed;
    font-size:1.4rem;
    color:white;
    font-weight:200;
    background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#post-affilliate-link:hover{
    font-weight: 700;
}
.post h1{
    font-weight:400;
    color: brown;
}

.post p{
    font-size: 1.3rem;
    color:grey;
    font-weight: 700;
}
.post img{
    width:50%;
    margin: 15px 0;
}
.post h2{
    color: steelblue;
    font-weight: 600;
}
@media only screen and (max-width: 1000px){
    iframe{
        width:350px;
        height: 200px
    }
}

/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/*class lists*/
.shoppe{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.lazada{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.amazon{
    background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

