<% layout('/layouts/boilerplate') -%>
    <a class="btn btn-danger ml-auto" href="/logout">Logout</a>
<h1> control panel</h1>
<a href="/product/add" class="btn btn-primary">Add new product</a>
<a href="/product/allproducts" class="btn btn-primary">show All products</a>