<% layout('/layouts/boilerplate') -%>

<div class="col-6 offset-3 my-5">
    <form action="/login" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
     
      <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwrod" name="password">
        </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
