<% layout('/layouts/boilerplate') -%>
    <a class="btn btn-danger ml-auto" href="/logout">Logout</a>
<h1> control panel</h1>
<div class="row">
    <div class="col-4 mt-3">
        <a href="/controlpanel/addproduct" class="btn btn-success">Add new product</a>
    </div>
    <div class="col-4 mt-3">
        <a href="/controlpanel/allproducts" class="btn btn-primary">show All products</a>
    </div>

</div>

<script>
    path = window.location.pathname;
    const links = document.querySelectorAll('a');
    for(let i = 0; i < links.length; i++){
        links[i].href = links[i].href.replace('/controlpanel', `${path}`);
    }
</script>
