<% layout('/layouts/boilerplate') -%>

<h1 class="text-center">Add new Product</h1>
<form action="/product" method="POST" class="m-3">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name">
      </div>
    </div>
    <div class="row mb-3">
        <label for="category" class="col-sm-2 col-form-label">category: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="category" name="category">
        </div>
      </div>
      <div class="row mb-3">
        <label for="price" class="col-sm-2 col-form-label">price: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" name="price">
        </div>
      </div>

      <!-- Images  -->
      <div class="row mb-3">
        <label for="image1" class="col-sm-2 col-form-label">Image1: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image1" name="images[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="image2" class="col-sm-2 col-form-label">Image2: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image2" name="images[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="image3" class="col-sm-2 col-form-label">Image3: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image3" name="images[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="image4" class="col-sm-2 col-form-label">Image4: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image4" name="images[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="image5" class="col-sm-2 col-form-label">Image5: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image5" name="images[]">
        </div>
      </div>

      <!-- product details-->
      <div class="row mb-3">
        <label for="details" class="col-sm-2 col-form-label">product details : </label>
        <div class="col-sm-10">
          <textarea class="form-control" id="details" name="details" rows="7"> </textarea>
        </div>
      </div>

      <!-- rating -->
      <div class="row mb-3">
        <label for="rating-number" class="col-sm-2 col-form-label">rating number: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  id="rating-number" name="rating[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="rating-stars" class="col-sm-2 col-form-label">rating stars: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  id="rating-stars" name="rating[]">
        </div>
      </div>
      
      <!-- video -->
      <div class="row mb-3">
        <label for="video" class="col-sm-2 col-form-label">video: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="video" name="video">
        </div>
      </div>

      <!-- store -->

      <div class="row mb-3">
        <label for="store" class="col-sm-2 col-form-label">store: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="store" name="store">
        </div>
      </div>
      <!--affilliate link -->
      <div class="row mb-3">
        <label for="affilliateLink" class="col-sm-2 col-form-label">affilliate Link: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="affilliateLink"  name="affilliateLink">
        </div>
      </div>

      <!-- reviews -->
      <!-- Images  -->
      <div class="row mb-3">
        <label for="reviewimage1" class="col-sm-2 col-form-label">reviewImage1: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="reviewimage1" name="reviewImages[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="reviewimage2" class="col-sm-2 col-form-label">reviewImage2: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="reviewimage2" name="reviewImages[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="reviewimage3" class="col-sm-2 col-form-label">reviewImage3: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="reviewimage3" name="reviewImages[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="reviewimage4" class="col-sm-2 col-form-label">reviewImage4: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="reviewimage4" name="reviewImages[]">
        </div>
      </div>
      <div class="row mb-3">
        <label for="reviewimage5" class="col-sm-2 col-form-label">reviewImage5: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="reviewimage5" name="reviewImages[]">
        </div>
      </div>


      <!-- texts -->
      <div class="row mb-3">
        <label for="reviewtext" class="col-sm-2 col-form-label">review texts: </label>
        <div class="col-sm-10">
          <textarea class="form-control" id="reviewtext" name="reviewTexts" rows="7"> </textarea>
        </div>
      </div>


    <button type="submit" class="btn btn-primary btn-lg">ADD</button>
  </form>


  