<% layout('./layouts/boilerplate') -%>

<form action="/controlpanel/scrapelazada/one" method="POST">
    <div class="mb-3">
        <label for="url" class="form-label">
            URL : 
        </label>
        <input type="text" id="url" name="url" class="form-control">
    </div>
    <div class="mb-3">
        <label for="affilliateLink" class="form-label">
            Affilliate Link:
        </label>
        <input type="text" id="affilliateLink" name="affilliateLink" class="form-control">
    </div>
    <button class="btn btn-danger">scrape</button>

</form>